*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #535151;
    overflow: hidden;
}
#bg{
    height: 100%;
    width: 100%;
    background-color: black;
}
nav{
    width: 100%;
    height: 60px;
    /* background-color: rgba(0, 0, 0, 0.479); */
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h2{
    color: white;
    font-size: 16px;
    letter-spacing: 4px;
}
#icon i{
    margin: 25px;
    color: white;
    cursor: pointer;
}
#center-elem{
    width: 80%;
    height: 50%;
    /* background-color: aliceblue; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    /* display: flex;
    align-items: center;
    justify-content: space-around; */ 
}
#cen-img{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#cen-img img{
    height: 450px;
}
#cen-img #last{
    width: 340px;
}
#cen-img h1{
    position: absolute;
    top: -30%;
    left: 4%;
    font-size: 170px;
    letter-spacing: 100px;
    font-weight: 400;
    color: #535151;
}
#below-center{
    width: 100%;
    height: 85px;
    /* background-color: yellow; */
    position: absolute;
    bottom: 0;
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between
}
#image1{
    height: 17px;
}
#image2{
    height: 70px;
}
#image3{
    height: 32px;
}

